.bTrash {
  cursor: pointer;
}
.bPlus {
  cursor: pointer;
}
.bDash {
  cursor: pointer;
}

.table-BSU {
  background-color: #0033a0 !important;
  color: #fff;
}

.blue {background-color: #648FFF;}
.purple {background-color: #785EF0;}
.pink {background-color: #DC267F;}
.orange {background-color: #FE6100;}
.yellow {background-color: #FFB000;}
