.bTrash {
  cursor: pointer;
}
.bPlus {
  cursor: pointer;
}
.bDash {
  cursor: pointer;
}

.table-BSU {
  background-color: #0033a0 !important;
  color: #fff;
}

.staffType li :hover{
  cursor: pointer;
  color: #fff;
}



.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.blue {background-color: #648FFF;}
.purple {background-color: #785EF0;}
.pink {background-color: #DC267F;}
.orange {background-color: #FE6100;}
.yellow {background-color: #FFB000;}
