/*
#header -> looking for id of header
header -> looking for tag
.bg-primary -> class name
*/


header img {
    height: 50px;
    cursor: pointer;
}

#header h1 {
    color: white;
    padding: 1%;
    font-weight: bold;
}


header .bg-primary {
    background-color: #0033A0 !important;
    padding: 2%;
    
}

#sdp {
    position: absolute;
    margin: 10px;
}
#sdp img {
    width: 80px;
    cursor: pointer;
    display: block;
}
#sdp > div {
    background-color: #0033A0;
    color: white;
    text-align: center;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    visibility: hidden;
    position: relative;
}

#sdp a {
    text-decoration: none;
    color: #D64309;
    font-weight: bold;
}


